body{
    background-color: #EEDFCF;
}
.topnav{
    color: #62482A;
    display: flex;
    columns: auto;
    justify-content: space-around;
    list-style: none;
    background-color: #C3AE97;
    padding: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
}
.navitm{
    background-color: #EEDFCF;
    padding: .5em 1em;
    border: transparent;
    border-radius: 5px;
}
.navitm:active{
    transform: translateX(-1px);
    transform: translateY(1px);
    box-shadow: inset 2px 2px 2px 2px #79634B;
    background-color: #EEDFCF;
}
#home{
    background-color: transparent;
    border: none;
    height: max-content;
    width:max-content;
    display: flex;
    float: left;
}
.title{
    text-align: center;
    font-size: 22px;
    color: rgb(99, 97, 97);
    letter-spacing: 4px;
    word-spacing: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle{
    text-align: center;
    font-size: 11px;
    color: rgb(99, 97, 97);
}
.main{
    padding: 2em 1em;
    background-color: #C3AE97;;
    border: 4px solid #79634B;
    border-radius:  5px;;
    }
#profilePhoto{
    height: 7em;
    width: 7em;
    background-color: #EEDFCF;
    border-radius: 50%;
    border: 5px solid #79634B;
}
.lastWeek{
    padding: 1em;
    background-color: #EEDFCF;
    margin-top: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #79634B;
}
.pay{
    background-color: #C3AE97;;
    border: transparent;
    border-radius: 5px;
    margin-top: 4px;
    width: 60%;
    word-spacing: 34em;
    padding: 4px;
}
#pastTotals{
    height: 15em;
    width:15em;
    background-color: #C3AE97;;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #79634B;
    word-wrap: normal;
}

#value{
    text-decoration: underline;
}
#pastWeek{
    padding: 1em;
    background-color: #EEDFCF;
    margin-top: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #79634B;
}
#payByRun{
    display: inline-flex;
}