body{
    background-color: #EEDFCF;
    color: #62482A;
}
.topnav{
    color: #62482A;
    display: flex;
    columns: auto;
    justify-content: space-around;
    list-style: none;
    background-color: #C3AE97;
    padding: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
}
.navitm{
    color: #62482A;
    background-color: #EEDFCF;
    padding: .5em 1em;
    border: transparent;
    border-radius: 5px;
}
.navitm:active{
    transform: translateX(-1px);
    transform: translateY(1px);
    box-shadow: inset 2px 2px 2px 2px #79634B;
    background-color: #EEDFCF;
}
#home{
    background-color: transparent;
    border: none;
    height: max-content;
    width:max-content;
    display: flex;
    float: left;
}
.title{
    text-align: center;
    font-size: 22px;
    color: #62482A;
    letter-spacing: 4px;
    word-spacing: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle{
    text-align: center;
    font-size: 11px;
    color: #62482A;
}
.main{
    padding: 2em 1em;
    background-color: #C3AE97;
    border: 4px solid #79634B;
    border-radius:  5px;;
    }
#policies{
    background-color: #EEDFCF;
    padding: 1em;
    border: transparent;
    border-radius: 5px;
    color: #62482A;
}