body{
    background-color: #EEDFCF;
    color: #62482A;
}
.topnav{
    color: #62482A;
    display: flex;
    columns: auto;
    justify-content: space-around;
    list-style: none;
    background-color: #C3AE97;
    padding: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
}
.navitm{
    color: #62482A;
    background-color: #EEDFCF;
    padding: .5em 1em;
    border: transparent;
    border-radius: 5px;
}
.navitm:active{
    transform: translateX(-1px);
    transform: translateY(1px);
    box-shadow: inset 2px 2px 2px 2px #79634B;
    background-color: #EEDFCF;
}
#home{
    background-color: transparent;
    border: none;
    height: max-content;
    width:max-content;
    display: flex;
    float: left;
}
.title{
    text-align: center;
    font-size: 22px;
    color: #62482A;
    letter-spacing: 4px;
    word-spacing: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle{
    text-align: center;
    font-size: 11px;
    color: #79634B;
}
.main{
    padding: 2em 1em;
    background-color: #C3AE97;
    border: 4px solid #79634B;
    border-radius: 5px;
    }
#behindHeader{
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: left;
}
#profilePhoto{
    height: 7em;
    width: 7em;
    background-color: #EEDFCF;
    border-radius: 50%;
    border: 5px solid #79634B;
}
.header{
    background-color: #EEDFCF;
    border: 4px solid #79634B;
    color: #62482A;
    border-radius: 5px;
    padding: .5em 6em;
    margin-right: 2em;
}
.oneWeek{
    padding: 1em;
    background-color: #EEDFCF;
    margin-top: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #79634B;
    color: #62482A;
}
.pay{
    background-color: #C3AE97;
    border: transparent;
    border-radius: 5px;
    margin-top: 4px;
    width: 60%;
    word-spacing: 34em;
    padding: 4px;
}
.input{
    display: flex;
    margin-left: auto;
    border-radius: 5px;
    color: #62482A;
    border-color: transparent;
    box-shadow: inset 1px 1px 2px .25px #79634B;
    text-align: end;
}
#dateInput{
  width: 11em;
}
#run-total{
    height: 17em;
    width: 17em;
    background-color: #C3AE97;
    border-radius: 50%;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    border: 5px solid #79634B;
    color: #62482A;
    position: relative;
    float: right;
    right: 3%;
    bottom: 18.35em;
    padding: 2%;
    word-wrap: normal;
    line-height: 22px;
}
.allText{
    display: grid;
    grid-template-columns: auto auto;
}
#runNumber{
    text-decoration: underline  #62482A;
    font-family: fantasy;
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}
#category{
    font-size: 20px;
    margin: 0;

    text-decoration: underline;
}
#description{
    margin:0;
    font-size: 22px;

    font-weight: 500;

}
#submit-btn{
    background-color: #C3AE97;
    border: 4px solid #79634B;
    border-radius: 5px;
    padding: .3em;
    width: 10em;
    margin-top: .3em;
}
.recentSubmits{
    padding: 1em;
    background-color: #EEDFCF;
    margin-top: 1em;
    border: 4px solid #79634B;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #79634B;
    color: #62482A;
}
.runs{
    background-color: #C3AE97;
    border: transparent;
    border-radius: 5px;
    margin-top: 4px;
    width: 66.5%;
    padding: 4px;
    color: #62482A;

}
#edit, #delete{
    background-color: #79634B;
    border: 4px solid #79634B;
    margin: 2px;
    border-radius: 5px;
    padding: .3em;
    margin-left: 49em;

    height: 3em;
    width: 3em;
}
#delete{
    margin-left: 1em;
}
#showRuns{
    color: white;
}
#block{
    background-color: #EEDFCF;
    color: #62482A;
    padding: 10px;
    border-radius: 5px;
    display: inline;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
    margin: 4px;
    text-align: center;
    justify-items: center;
    border: 3px solid #62482A;
    display: float;
    position: relative;
    top: 2em;
}
#runDiv{
    background-color: #C3AE97;
    border: transparent;
    border-radius: 5px;
    margin-top: 4px;
    width: 66.5%;
    padding: 2px;
    color: #62482A;
}
